.header{
    /*position: fixed; /*Al poner fixed, el ancho del div es el ancho del contenido*/
    /*width: 100%;
    top: 0;*/

    display: flex;
    justify-content: center; /*Centrado horizonal*/
    align-items: center; /*Centrado vertical*/

    background-color: #DE4343;
}
.fa-dice-d20{
    display: block;
    font-size: 30px;
    color: white;
    padding: 5px;
}
.indexMobileHeaderRight{
    flex-grow: 1;/*Ocupa el resto del ancho*/
    padding: 0px 20px; /*0px arriba y abajo; y 20px a los lados*/
}
.indexMobileSearch{
    background-color: white;
    border-radius: 5px;
    padding: 3px;

    display: flex;
    justify-content: flex-start; /*Centrado horizonal*/
    align-items: center; /*Centrado vertical*/
}
.fa-search{
    display: block;
    width: fit-content;
    color: #C6B6B6;
    font-size: 10px;
}
.indexMobileForm{
    display: block;
    flex-grow: 1; /*Ocupa el resto del ancho*/

    display: flex;
}
.indexMobileInput{
    flex-grow: 1; /*Ocupa todo el ancho*/
    border: none;
    font-size: 10px;
}

/*======================================================*/

.main{
    box-sizing: border-box; /*Con esto, ni el ancho ni el alto del div varían al agregar relleno y/o borde*/
    padding: 7px;

    background-color: #f2f2f2;
}

/*======================================================*/

.footer{
    box-sizing: border-box; /*Con esto, ni el ancho ni el alto del div varían al agregar relleno y/o borde*/
    position: fixed; /*Al poner fixed, el ancho del div es el ancho del contenido*/
    width: 100%;
    padding: 5px;
    bottom: 0;

    background-color: rgba(0,0,0,0.7);
}
.indexMobileNav{
    display: flex;
    justify-content: space-around; /*Centrado horizonal*/
    align-items: center; /*Centrado vertical*/
}
.indexMobileNavA{
    display: block;
}
.indexMobileNavA a i:hover{
    color: #777777;
}
a{ /*.fa-home, .fa-user, .fa-shopping-cart, .fa-bars*/
    color: white;
    font-size: 20px;
}
a:hover{
    color: #99D2CE;
}