<html>
    <head>
        <meta charset="UTF-8">
        <title>Gaming House</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/" class="indexMobileNavA"></a><i class="fas fa-dice-d20"></i></a>
            </div>
        </header>

        <main>    
            <h2>Conectate!</h2>
            <h3>Ingresa tus datos:</h3>
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Contraseña del usuario">
                <input type="submit" value="Enviar">
            </form>
            <div class="tipo-ingreso">
                <h3>Entrar como:</h3>

            </div>
        </main>

        <div class="footer">

            <nav class="indexMobileNav">

                <a href="/" class="indexMobileNavA"><i class="fas fa-home"></i></a>
                <a href="#" class="indexMobileNavA"><i class="fas fa-user"></i></a>
                <a href="/carrito" class="indexMobileNavA"><i class="fas fa-shopping-cart"></i></a>
                <a href="#" class="indexMobileNavA"><i class="fas fa-bars"></i></a>

            </nav>

        </div>  
    </body>
</html>