.productCartItem{
    background-color: white;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
.productCartItemTop{
    display: flex;
    min-width: 0;
}
.filename__base{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .filename__extension{
    flex-shrink: 0;
  }